html, body {
  font-family: sans-serif;
}

#wrapper {
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  padding: 1em;
}

.card-title {
  text-align: center;
}

.stream-table {
  width: 100%;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
