<!DOCTYPE html>
<html lang="en">
<head>
  <title>RTMP Restreamer</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
<div id="noscript">
  <b>loading...</b><br /><br />
  <small>if this doesn't go away in a few seconds, something's broken</small>
</div>
<div id="wrapper" style="display: none">
  <div class="card">
    <div class="youtube-output">
      <h4>YouTube</h4>
      <input type="text" v-model="keys.youtube"/><br />
      <i>TODO: explain how to get a YouTube stream key</i>
    </div>
    <br />
    <div class="twitch-output">
      <h4>Twitch</h4>
      <input type="text" v-model="keys.twitch" /><br />
      <i>TODO: explain how to get a Twitch stream key</i>
    </div>
    <br />
    <div class="periscope-output">
      <h4>Periscope</h4>
      <input type="text" v-model="keys.periscope" /><br />
      <i>TODO: explain how to get a Periscope stream key</i>
    </div>
    <br />
    <div class="facebook-output">
      <h4>Facebook</h4>
      <input type="text" v-model="keys.facebook" /><br />
      <i>TODO: explain how to get a Facebook stream key</i>
    </div>
    <div class="custom-output" v-for="(url, index) in custom_output_streams">
      <h4>Custom #{{ '{{' }} index+1 }}</h4>
      [ <a v-on:click="remove_stream" v-bind:data-index="index">remove</a> ]
      <input type="text" v-model="custom_output_streams[index]" placeholder="rtmp://..." />
    </div>
    <br /><br />
    <div class="center">
      [ <a href="#" v-on:click="add_custom_output">custom</a> ]

      [ <a href="#" v-on:click="save">save</a> ]
    </div>
  </div>

  <div class="card">
    <h3>Status</h3>
    <table>
      <tr><td>Uptime</td><td><code>{{ '{{' }} rtmp_stat.uptime }}</code></td></tr>
      <tr><td>bandwidth in (bits per second)</td><td><code>{{ '{{' }} rtmp_stat.bw_in }}</code></td></tr>
      <tr><td>bandwidth out (bits per seconds)</td><td><code>{{ '{{' }} rtmp_stat.bw_out }}</code></td></tr>
      <tr><td>total bytes in</td><td><code>{{ '{{' }} rtmp_stat.bytes_in }}</code></td></tr>
      <tr><td>total bytes out</td><td><code>{{ '{{' }} rtmp_stat.bytes_out }}</code></td></tr>
  </div>
</div>
<script src="{{ url_for('static', filename='vendor/vue.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>
</body>
</html>
